.card-list {
  margin: 122px 40px 0 40px;
  background-color: #f2f4f5;
  padding: 0 24px;
  &:last-child {
    margin-bottom: 108px;
  }

  .container {
    gap: 20px;

    .right {
      width: 100%;
      .cards {
        gap: 25px;
        flex-wrap: wrap;
      }
    }
  }
}
