.navbar {
  position: sticky;
  top: 0;
  height: 122px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  .left {
    margin-left: 64px;
    align-items: center;
    gap: 40px;
    .icon {
      align-items: center;
      font-size: 31.73px;
      font-weight: 900;
      gap: 5px;
    }
    a {
      font-size: 18px;
      font-weight: 700;
      color: #cdcfd0;
    }
    .active {
      color: white;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        margin: auto;
        height: 4px;
        width: 48px;
        background-color: #e8282b;
      }
    }
  }
  .wallet {
    align-items: center;
    height: 48px;
    width: 179px;
    margin-right: 64px;
    .wallet-icon {
      background-color: #e8282b;
      height: 28px;
      width: 28px;
      padding: 10px;
      border-radius: 10px 0 0 10px;
    }
    .wallet-text {
      background-color: #303437;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 800;
      width: 100%;
      height: 100%;
      border-radius: 0 10px 10px 0;
    }
  }
}
